html {
    height: 100%
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Kalam', cursive;
    overflow: auto;
    background-color:#509be1;
    color: white
}

.masterContainer {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}


.output {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 375px
}

.headerAndButton {
    text-align: center;
    line-height: 100%;
    padding: 50px;
}

.locationContainer {
    margin: 10px
}

.boxTitle {
    margin: auto;
    text-align: center;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
}

.locationDisplay {
    margin: auto;
    height: 350px;
    width: 200px;
    background-color: #d3e9ff;
    padding: 8px;
    color: #509be1;
    word-wrap: break-word;
    overflow: auto;
    border: solid 1px white
}

.locationDisplay::-webkit-scrollbar {
    width: .5em;
}

.locationDisplay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.locationDisplay::-webkit-scrollbar-thumb {
  background-color: #509be1;
}

button {
    background-color: white;
    border: none;
    color: #509be1;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    box-shadow: 1px 1px #509be1;
    transform: translateY(-20%);
}

.title {
    font-weight: bold;
    font-size: 30px
}

button:hover {
    background-color: #d3e9ff
}

button:focus {outline:0;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.interestTitle {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold
}

.interestDescription {
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px
}

.footer {
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    color: white
}

#formContainer {
    margin: auto;
    text-align: center
}

.addForm p {
    margin: 0
}

.addForm select {
    margin: 6px
}

.addForm button {
    margin: 6px;
    margin-top: 8px
}

.addForm textarea {
    margin: 0
}

.addForm input {
    margin: 0;
    margin-bottom: 6px
}

.hidden {
    display: none
}
